.tit1{
  position: absolute;
width: 482px;
height: 93px;
left: 822px;
top: 124px;

font-family: 'Inknut Antiqua';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 93px;
/* identical to box height */


color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tit2{
  position: absolute;
width: 630px;
height: 94px;
left: 227px;
top: 435px;

font-family: 'Inknut Antiqua';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 93px;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tit3{
  position: absolute;
width: 228px;
height: 93px;
left: 113px;
top: 1146px;

font-family: 'Inknut Antiqua';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 93px;
/* identical to box height */


color: #FAFAFA;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tit4{
  position: absolute;
width: 657px;
height: 113px;
left: 68px;
top: 1239px;

font-family: 'Itim';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;

color: #FAFAFA;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img01{

box-sizing: border-box;

position: absolute;
width: 1282px;
height: 1433px;
left: -569px;
top: 17px;

background: url(20230105_010330.jpg);
border: 1px solid #2236EA;
}

.retangulo{
  /* Rectangle 1 */


position: absolute;
width: 657px;
height: 881px;
left: 56px;
top: 1105px;

background: #B3DAEF;
mix-blend-mode: normal;
border-radius: 100px;
}
